@model CarouselItem
@{
    ViewData["Title"] = "Editace Carouselu";
    ViewBag.Akce = "Edit";
}
<h1>@ViewData["Title"]</h1>
<partial name="CreateEditForm" model="Model" />

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/FileContentValidation.js"></script>
}